In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

In [2]:
PATH = 'https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/1.4.11_experimentation_guided_example/experiment_data_2_wks.csv'
experiment_data = pd.read_csv(PATH)

In [3]:
experiment_data.head(10)

  treatment_date  test  is_signed_up signup_date
0     2016-04-01     0             0         NaN
1     2016-04-01     0             0         NaN
2     2016-04-01     0             0         NaN
3     2016-04-01     0             0         NaN
4     2016-04-01     0             0         NaN
5     2016-04-01     0             0         NaN
6     2016-04-01     1             1  2016-04-02
7     2016-04-01     0             0         NaN
8     2016-04-01     0             0         NaN
9     2016-04-01     0             0         NaN

#### Using the information in the file, how large is each group?  Remember that the column 'test' is binary.  1 represents the Test Group, while 0 represents the Control Group

In [27]:
Test = len(experiment_data[experiment_data.test == 1])
Control = len(experiment_data[experiment_data.test == 0])
print('Test Group Size:',Test)
print('Control Group Size:',Control)

Test Group Size: 3372
Control Group Size: 30241

#### What is the sign up rate of the test and control?

In [34]:
Test_Signup = experiment_data[experiment_data.test == 1].is_signed_up.mean()
Control_Signup = experiment_data[experiment_data.test == 0].is_signed_up.mean()
print('Test Group Sign-Up Rate:', Test_Signup)
print ('Control Group Sign-Up Rate:', Control_Signup)

Test Group Sign-Up Rate: 0.13701067615658363
Control Group Sign-Up Rate: 0.14708508316523924

#### Is the experiment already significant?

In [12]:
stats.ttest_ind(experiment_data[experiment_data.test == 1].is_signed_up,
                experiment_data[experiment_data.test == 0].is_signed_up)

Ttest_indResult(statistic=-1.5711354292574262, pvalue=0.11616060761145311)

#### So the groups are not significantly different, and indications do not seem great. The test signup rate seems lower than the old message. Can you see any reason why?

#### What code could be used to investigate why the test signup rates seem lower than the old message?